
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

* {
	margin: 0;
	padding: 0;
  }


body {
  background: url(https://images.unsplash.com/photo-1547623641-d2c56c03e2a7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80) no-repeat center fixed;
  background-size: cover;
  font-family: 'Kanit', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 100px !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.randomContainer {
  position: relative;
  text-align: center;
  background-color: "rgba(0, 0, 0, 0.6)";
}


.centerText {
position: absolute;
color: aliceblue;
font-size: 4rem;
font-weight: bolder;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
